#wrapper
    #logos
        .pull-left
            a(href='http://www.cancer.gov', alt='National Cancer Institute', target='_blank')
                img(src='/common/images/nci.jpg', width='286', height='40', border='0', alt='National Cancer Institute', title='National Cancer Institute')
        .pull-right
            a(href='http://www.cancer.gov', alt='at the National Institutes of Health', target='_blank')
                img(src='/common/images/nih.jpg', width='322', height='40', border='0', alt='at the National Institutes of Health', title='at the National Institutes of Health')
br