header#header.navbar-static-top
    .container
        .row
            .col-xs-12
                a.col-xs-12.col-md-6.pull-left(href="http://dceg.cancer.gov/", target="_blank")
                    img#dceg-logo.col-xs-12(src="/common/images/DCEG-logo.svg", alt="Division of Cancer Epidemiology & Genetics")
                .col-xs-12.col-md-6.pull-right
                    img#branch-logo.col-xs-12(src="/common/images/DCEG-BB-HREB.png", alt="Biostatistics Branch")
        hr