doctype html
html(lang="en")
    head
        title Biomarker Tools
        meta(http-equiv='content-type', content='text/html; charset=utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        link(rel='stylesheet', href='/common/css/font-awesome.css', type='text/css')
        link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', type='text/css')
        link(rel='stylesheet', href='//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css')
        link(rel="stylesheet", href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css")
        link(rel='stylesheet', href='/common/css/style.css')
        link(rel='stylesheet', href='styles.css')
        block styles
    body
        .sr-only
            a#skip(href="#mainTabsContent") Skip to Content
        .center-block
            include header
            #main
                #banners
                    .pull-left
                        img(src='/common/images/DCEG-BB-HREB.png',
                        alt='Banner for NCI Division of Cancer Epidemiology, Genetics Biostatistics Branch, Hormonal ' +
                        'and Reproductive Epidemiology Branch ',
                        height='43')
                    br
                #contentTabs.col-md-12
                    ul.nav.nav-tabs(role='tablist')
                        li.active(role='tab', title="Home")
                            a(href='#home', data-toggle='tab') Home
                        li(role='tab', title="Means to Risk Stratification")
                            a(href='#meanstorisk', data-toggle='tab') Means to Risk
                        li(role='tab', title="Biomarker Comparison")
                            a(href='#bc', data-toggle='tab') Biomarker Comparison
                        li(role='tab', title="Risk Stratification Advanced Analysis")
                            a(href='#riskStratAdvanced', data-toggle='tab') Risk Stratification Advanced Analysis
                        li(role='tab', title="Power and Sample Size Calculation")
                            a(href='#sampleSize', data-toggle='tab') Power and Sample Size Calculation
                        li(role='tab', title="Mean Risk Stratification")
                            a(href='#meanRiskStratification', data-toggle='tab') Mean Risk Stratification
                        li(role='tab', title="Help")
                            a(href='#help', data-toggle='tab') Help
                    #mainTabsContent.tab-content.col-md-12
                        include ../pages/home
                        include ../pages/meanstorisk
                        include ../pages/bc
                        include ../pages/riskStratAdvanced
                        include ../pages/sampleSize
                        include ../pages/meanRiskStratification
                        include ../pages/help
        include footer
        script(data-main="requires" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.18/require.js")