doctype html
html(lang="en")
  head
    title Biomarker Tools
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel="stylesheet", href="/common/css/font-awesome.css", type="text/css")
    link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", type="text/css")
    link(rel="stylesheet", href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css")
    link(rel="stylesheet", href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css")
    link(rel="stylesheet", href="/common/css/style.css")
    link(rel="stylesheet", href="styles.css")
    block styles
    <!--[if lt IE 10]><link rel="stylesheet" href="IEOnly.css"/><![endif]-->
  body
    .sr-only
      a#skip(href="#mainTabsContent") Skip to Content
    include header
    #main
      #contentTabs
        ul.nav.nav-tabs(role="tablist")
          li.active(role="tab", title="Navigate to Home tab")
            a(href="#home", data-toggle="tab") Home
          li(role="tab", title="Navigate to Means to Risk Stratification tab")
            a(href="#meanstorisk", data-toggle="tab") Means to Risk
          li(role="tab", title="Navigate to Biomarker Comparison tab")
            a(href="#bc", data-toggle="tab") Biomarker Comparison
          li(role="tab", title="Navigate to Risk Stratification Advanced Analysis tab")
            a(href="#riskStratAdvanced", data-toggle="tab") Risk Stratification Advanced Analysis
          li(role="tab", title="Navigate to Power and Sample Size Calculation tab")
            a(href="#sampleSize", data-toggle="tab") Power and Sample Size Calculation
          li(role="tab", title="Navigate to Mean Risk Stratification tab")
            a(href="#meanRiskStratification", data-toggle="tab") Mean Risk Stratification
          li(role="tab", title="Navigate to Help tab")
            a(href="#help", data-toggle="tab") Help
        #mainTabsContent.tab-content.clearfix
          include ../pages/home
          include ../pages/meanstorisk
          include ../pages/bc
          include ../pages/riskStratAdvanced
          include ../pages/sampleSize
          include ../pages/meanRiskStratification
          include ../pages/help
    include footer
    script(data-main="requires", src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.18/require.js")
