doctype html
html(lang="en")
    head
        title
        meta(http-equiv='content-type', content='text/html; charset=utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        link(rel='stylesheet', href='/common/css/font-awesome.css', type='text/css')
        link(rel='stylesheet', href='//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css')
        link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', type='text/css')
        link(rel='stylesheet', href='/common/css/style.css')
        link(rel='stylesheet', href='styles.css')
    body
        .sr-only
            a(href="#contentTabs") Skip to Content
        .center-block
            include header
            #main
                #banners
                    #left
                        img(src='/common/images/DCEG-BB-HREB.png',
                        alt='Banner for NCI Division of Cancer Epidemiology, Genetics Biostatistics Branch, Hormonal ' +
                        'and Reproductive Epidemiology Branch ',
                        height='43')
                    br
                #contentTabs.col-md-12
                    ul.nav.nav-tabs(role='tablist')
                        li.active(role='presentation', title="Home")
                            a(data-target='#home', role='tab', data-toggle='tab') Home
                        li(role='presentation', title="Means to Risk Stratification")
                            a(data-target='#meanstorisk', role='tab', data-toggle='tab') Means to Risk Stratification
                        li(role='presentation', title="Biomarker Comparison")
                            a(data-target='#bc', role='tab', data-toggle='tab') Biomarker Comparison
                        li(role='presentation', title="Risk Stratification Advanced Analysis")
                            a(data-target='#riskStratAdvanced', role='tab', data-toggle='tab') Risk Stratification Advanced Analysis
                        li(role='presentation', title="Power and Sample Size Calculation")
                            a(data-target='#sampleSize', role='tab', data-toggle='tab') Power and Sample Size Calculation
                        li(role='presentation', title="Mean Risk Stratification")
                            a(data-target='#meanRiskStratification', role='tab', data-toggle='tab') Mean Risk Stratification
                        li(role='presentation', title="Help")
                            a(data-target='#help', role='tab', data-toggle='tab') Help
                    .tab-content.col-md-12
                        include ../pages/home
                        include ../pages/meanstorisk
                        include ../pages/bc
                        include ../pages/riskStratAdvanced
                        include ../pages/sampleSize
                        include ../pages/meanRiskStratification
                        include ../pages/help
        include footer
        script(data-main="requires" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.18/require.js")