#bc.tab-pane.fade(role='tabpanel')
  h3(title="Biomarker Comparison tool") Biomarker Comparison
  #helpGlossaryLinks
    a.goToGlossary(href="#") Glossary
  p
    | This tool plots contours of likelihood ratio positive (LR+) and
    | likelihood ratio negative (LR-) for a reference test with indicated
    | sensitivity and specificity pairs (see the example plot below). The
    | likelihood ratio contours define four areas:
  .maliable.clearfix
    .top_group.clearfix
      img(src='images/exampleLRPlot.jpg', alt='sample LR plot')
      div
        ul
          li
            | Area A shows combinations of
            | sensitivity and specificity with higher LR+ and LR- than the
            | reference test. This corresponds to a higher positive predictive
            | value (PPV) and lower complement of the negative predictive value
            | (cNPV)
          li
            | Area B shows combinations of
            | sensitivity and specificity with higher LR+ and lower LR- than
            | the reference test. This corresponds to a higher positive
            | predictive value (PPV) and higher complement of the negative
            | predictive value (cNPV).
          li
            | Area C shows combinations of sensitivity and specificity
            | with lower LR+ and higher LR- compared to the reference
            | test. This corresponds to a lower positive
            | predictive value (PPV) and lower complement of the
            | negative predictive value (cNPV).
          li
            | Area D shows combinations of sensitivity and
            | specificity with lower LR+ and lower LR- compared
            | to the reference test. This corresponds to a lower positive
            | predictive value (PPV) and higher complement of the negative
            | predictive value (cNPV)
      p
        | LR+ and LR- measures provide test-specific characteristics of risk
        | stratification that yield estimates of absolute risk (PPV and NPV)
        | when multiplied with the specific disease prevalence. LR+ and LR-
        | estimated in one population will be the same in another
        | population, whenever sensitivities and specificities are the same
        | in the 2 populations, even when disease prevalences are much
        | different. To calculate PPV and cNPV, provide a prevalence value.
    .data_group
      .panel.panel-default.input
        .panel-heading
          .panel-title.text-center.bold Input Information
        .panel-heading.bold
          span Manually enter parameters 
          u OR
          span  import values from file
        #upload.panel-body
          .indent
            p
              label.data_entry_by_file(for='file_upload')
                span Upload CSV file to pre-populate parameters table with data 
                a(href='bc/exampleValues.csv') (Example)
            p
              input#file_upload(type='file', accept=".csv")
        #inputdata.panel-body.table_container
          .table_row.non-data-row
            .table_data.bold #
            .table_data.bold Reference
            #Sens.table_data.bold.define(data-term='Sens') Sensitivity
            #Spec.table_data.bold.define(data-term='Spec') Specificity
            .table_data.emptyblock
          .table_row.reference_row(row='0')
            .table_data.emptyblock
            .table_data.reference(row='0', col='reference')
              img(src='/common/images/checkbox.png', alt='this row is the reference row')
            .table_data.input_field.sensitivity(row='0', col='sensitivity') 0.8
            .table_data.input_field.specificity(row='0', col='specificity') 0.7
            .table_data.emptyblock
          .table_row(row='1')
            .table_data.emptyblock
            .table_data.reference(row='1', col='reference')
              img(src='/common/images/uncheckbox.png', alt='click to set this row as the reference row')
            .table_data.input_field.sensitivity(row='1', col='sensitivity') 0.85
            .table_data.input_field.specificity(row='1', col='specificity') 0.68
            .table_data.emptyblock
              button.remove_row_button 
                span.text Remove
                span.glyphicon.glyphicon-minus-sign(title="Remove row")
          .table_row(row='2')
            .table_data.emptyblock
            .table_data.reference(row='2', col='reference')
              img(src='/common/images/uncheckbox.png', alt='click to set this row as the reference row')
            .table_data.input_field.sensitivity(row='2', col='sensitivity') 0.9
            .table_data.input_field.specificity(row='2', col='specificity') 0.5
            .table_data.emptyblock
              button.remove_row_button
                span.text Remove
                span.glyphicon.glyphicon-minus-sign(title="Remove row")
          .table_row.non-data-row
            button#new_row_button New Row
        .panel-footer
          label#DP.define.prevalence_label(data-term='DP',for='prevalence_bc') Prevalence
          input#prevalence_bc(type='text')
          button#calculate_button Calculate
          button#reset Reset
      .output
    .graph
      img.expand.hide(src="/common/images/initial.jpg", alt="placeholder image")
      small.bold.hide (hover over or click image to expand)
  div
    include ../partials/loader
  .bibliography
    p
      strong References:
    p
      span Marina V. Kondratovich, (2007),
      i
        | Comparing Two Medical Tests
        | When Results of Reference Standard Are Unavailable for Those
        | Negative via Both Tests, Journal of Biopharmaceutical Statistics, 18:1, 145-166, 
      a(target='_blank', href='http://www.tandfonline.com/doi/abs/10.1080/10543400701668308#.UubT8LQo670') DOI: 10.1080/10543400701668308
