#help.tab-pane.fade(title="Help",role='tabpanel')
    h3.title.text-center Help
    h4.title.text-center Tools Help
    section
        h5 Means to Risk Stratification
        h5 Biomarker Comparison
        h5 Risk Stratification Advanced Analysis
        h5 Power and Sample Size Calculation
    h4.title.text-center FAQ
    h4.title.text-center Glossary of Terms
    #glossary