#help.tab-pane.fade(role='tabpanel')
  h3.text-left(title="Help content") Help
  ul#toc.list-unstyled
    li
      strong
        a.goToTopic(href='#tools-help') Tools Help
      ul
        li
          a.goToTopic(href='#help_riskStratAdvanced') Risk Stratification Advanced Analysis
    li
      strong
        a.goToTopic(href='#faq') FAQ
    li
      strong
        a.goToTopic(href='#header-glossary') Glossary of Terms
  h4#tools-help.text-left.glossary-title Tools Help
  section
    article
      h5#help_riskStratAdvanced Risk Stratification Advanced Analysis
      div
        h6 Instructions for Input
        p
          | This tool calculates values and creates graphs for valid combinations of given PPV, cNPV,
          | delta, specificity, sensitivity, and prevalence values. Click on the 'Example' link
          | for sample input combinations.
        ol
          li
            | Choose values for the
            | independent variable, or for the x-axis of the output graph, from
            | the drop-down menu next to 'Independent Variable'. Enter your
            | values as decimals separated by commas.
          li
            | Choose values for the contours
            | of the output graph from the drop-down menu next to 'Contour'.
            | Enter your values as decimals separated by commas.
          li
            | Choose fixed values.
            | Then enter your values as decimals separated by commas.
          li Click 'Calculate'.
      div
        h6 Input Validation Rules
        ul
          li Specificity, Sensitivity, PPV, cNPV, and Prevalence can only be 0 to 1
          li Delta can be 0 to 5
          li cNPV < Prevalence
          li For arrays: max(cNPV) < min(Prevalence)
          li Prevalence < PPV
          li For arrays: max(prev) < min(PPV)
          li Sensitivity+Specificity-1 > 0
          li
            | PPV and cNPV; Sensitivity, Specificity, and Delta; PPV,
            | Prevalence, and Delta; and cNPV, Prevalence, and Delta are invalid combinations of input
  h4#faq.text-left.glossary-title FAQ
  section
    article
      dl
        dt Where do I go for technical support?
        dl Please send an
        a(href='mailto:NCIMeansToRiskWebAdmin@mail.nih.gov?subject=Biomarker Evaluation Tools', title='Biomarker Evaluation Tools') e-mail
        |  to our technical support team.
      dl
        dt What browsers do the web tools support?
        dl The web tools have been designed and tested with Internet Explorer 10, Firefox and Chrome.
        | They do not support Internet Explorer 9 and below.
  h4#header-glossary.text-left.glossary-title Glossary of Terms
  section#glossary
