#home.tab-pane.fade.in.active(role='tabpanel')
    h3.title.text-center(title="Home") Biomarker Evaluation Tools
    | This toolset estimates risk stratification from early biomarker data and stategies to advance biomarkers or other
    | risk measures indentified case-control studies to clinical or public health applications. The toolset will show
    | quantities for which people's intuition is poor, such as need for a single marker of a rare disease to improve management
    | by some serious intervention. The toolset hopless pursuit, wasteful, unethical clinical testing begins. Thus, using
    | these strategies will allow focusing on the most promising markers early on, making specific improvements if required,
    | or abandoning markers that are most likely to fail.
    br
    | &nbsp;
    ul.list-unstyled
        li
            a.goToTab(title="The Means To Risk", data-target='#meanstorisk', data-toggle="tab") Means To Risk
        li
            a.goToTab(title="Biomarker Comparison",data-target='#bc', data-toggle="tab") Biomarker Comparison
        li  
            a.goToTab(title="Risk Stratification Advanced Options", data-target='#riskStratAdvanced', data-toggle="tab") Risk Stratification Advanced Options
        li
            a.goToTab(title="Power and Sample Size Calculation", data-target='#sampleSize', data-toggle="tab") Power and Sample Size Calculation
        li
            a.goToTab(title="Mean Risk Stratification", data-target='#meanRiskStratification', data-toggle="tab") Mean Risk Stratification