#home.tab-pane.fade(role='tabpanel')
    h3.title.text-center(title="Home") Biomarker Tools
    p
      | This toolset estimates risk stratification from early biomarker data and stategies to advance biomarkers or other
      | risk measures indentified case-control studies to clinical or public health applications. The toolset will show
      | quantities for which people's intuition is poor, such as need for a single marker of a rare disease to improve management
      | by some serious intervention. The toolset hopless pursuit, wasteful, unethical clinical testing begins. Thus, using
      | these strategies will allow focusing on the most promising markers early on, making specific improvements if required,
      | or abandoning markers that are most likely to fail.
    br
    | &nbsp;
    ul.list-unstyled
        li
            a.goToTab(title="go to the Means To Risk tool", href='#meanstorisk') Means To Risk
        li
            a.goToTab(title="go to the Biomarker Comparison tool",href='#bc') Biomarker Comparison
        li
            a.goToTab(title="go to the Power and Sample Size Calculation tool", href='#sampleSize') Power and Sample Size Calculation
        li
            a.goToTab(title="go to the Mean Risk Stratification tool", href='#meanRiskStratification') Mean Risk Stratification
        li
            a.goToTab(title="go to the Risk Stratification Advanced Options tool", href='#riskStratAdvanced') Risk Stratification Advanced Options
