#meanRiskStratification.tab-pane.fade(role='tabpanel')
  h3(title="Mean Risk Stratification tool") Mean Risk Stratification
  #helpGlossaryLinks
    a.goToGlossary(href="#") Glossary
  form.input.panel-group
    #markers
      #marker-1.accordion.panel.panel-default
        .panel-heading.text-center.bold Biomarker #1
        .panel-body
          .table_padding
            input#name-input.input_field(type='text', name='name-input', maxlength='30', pattern='^[a-zA-Z0-9_- ]*$', aria-label="Biomarker Name", Placeholder="Biomarker Name")
        .panel-heading(data-parent='#marker-1', data-toggle='collapse', data-target='#marker-1 .option-1')
            a(href="javascript:void(0);")
              .glyphicon.glyphicon-chevron-down
              span Input: 2x2 Table
        .option-1.panel-body.panel-collapse.collapse.in
          table.table_container
            tbody
              tr.table_row
                th.table_data(scope="col", header="Marker Negative", title="Marker Negative")
                    a.define#m_neg(href="javascript:void(0);", data-term="m_neg") Marker Negative (M-)
                th.table_data(scope="col", header="Marker Positive", title="Marker Positive")
                    a.define#prob_m(href="javascript:void(0);", data-term="prob_m") Marker Positive (M+)
                td.table_data.emptyblock
              tr.table_row
                td.table_data(headers="m_neg prob_d")
                  input#b.input_field(name='b', type='number', maxlength='30', aria-label="parameter b")
                td.table_data(headers="prob_m prob_d")
                  input#a.input_field(name='a', type='number', maxlength='30', aria-label="parameter a")
                td.table_data.text-left
                    a.define#prob_d(href="javascript:void(0);", data-term="prob_d") Disease Positive (D+)
              tr.table_row
                td.table_data(headers="d_neg m_neg")
                  input#d.input_field(name='d', type='number', maxlength='30', aria-label="parameter d")
                td.table_data(headers="d_neg prob_m")
                  input#c.input_field(name='c', type='number', maxlength='30', aria-label="parameter c")
                td.table_data.text-left
                    a.define#d_neg(href="javascript:void(0);", data-term="d_neg") Disease Negative (D-)
        .panel-heading(data-parent='#marker-1', data-toggle='collapse', data-target='#marker-1 .option-2')
            a(href="javascript:void(0);")
                .glyphicon.glyphicon-chevron-down
                span Input: PPV, NPV, Sensitivity, Specificity, etc.
        .option-2.panel-body.panel-collapse.collapse
          .table_padding
            input.input_field#sampsize(name='sampsize', type='number', maxlength='30', min='1', aria-label="Sample Size", placeholder="Sample Size")
          table.table_container
            tbody
              tr.table_row
                th.table_data.bold(title='Parameter Type Column', header="Parameter Type Column", scope="col") Parameter
                th.table_data.bold(title='Parameter Proportion Column', header="Parameter Proportion Column", scope="col") Proportion
              tr.table_row(row='0')
                td.table_data
                  span.dd
                    a.define(href="#", data-term='ppv')
                      img(src="/common/images/info.png", height="20", width="20",alt="pop up definition for parameter 1 dropdown value")
                  div
                    select#param_1.input_field(name='param_1', aria-label="parameter 1 type")
                      option(value='ppv') PPV
                      option(value='sens') Sensitivity
                td.table_data
                    input#param_1_value.input_field(type='number', name='param_1', min='0', max='1', maxlength='30', step='0.0001', aria-label="Parameter 1 value")
              tr.table_row(row='1')
                td.table_data
                  span
                    a.dd.define(href="#", data-term='npv')
                      img(src="/common/images/info.png", height="20", width="20",alt="pop up definition for parameter 2 dropdown value")
                  div
                    select#param_2.input_field(name='param_2', aria-label="parameter 2 type")
                      option(value='npv') NPV
                      option(value='spec') Specificity
                td.table_data
                  input#param_2_value.input_field(type='number', name='param_2', min='0', max='1', maxlength='30', step='0.0001', aria-label="parameter 2 value")
              tr.table_row(row='2')
                td.table_data
                  span
                    a.dd.define(href="#", data-term='prob_m')
                      img(src="/common/images/info.png", height="20", width="20",alt="pop up definition for parameter 3 dropdown value")
                  div
                    select#param_3.input_field(name='param_3', aria-label="parameter 3 type")
                      option(value='prob_m') Marker Positivity (P(M+))
                      option(value='prob_d') Disease Prevalence (P(D+))
                td.table_data
                  input#param_3_value.input_field(type='number', name='param_3', min='0', max='1', maxlength='30', step='0.0001', aria-label="parameter 3 value")
    #control-group.table_container
      .table_row
        .table_data
          button#add-marker
            span.glyphicon.glyphicon-plus-sign(alt='Add(+)', title='Add biomarker')
            span Add
        .table_data
          button#delete-marker(title='Delete biomarker')
            span.glyphicon.glyphicon-minus-sign(alt='Delete(-)')
            span Delete
        .table_data
          button#calculate(type='button') Calculate
        .table_data
          button#reset(type='reset') Reset
      .table_row
        .table_data
            a#test1(href='#', title='Populate 1 biomarker using test data') Example 1
            a#test2(href='#', title='Populate 1 biomarker using test data') Example 2
  .output
    include ../partials/loader.jade
    #results.hide
      table#paramTable
        tr
          th(header="Calculations", scope="col") Calculations
          th.bm_1.marker_name(header="Calculations for Biomarker 1", title="Calculations for Biomarker 1", scope="col") (Biomarker Title Placeholder)
          th.bm_2.marker_name(header="Calculations for Biomarker 2", title="Calculations for Biomarker 2", scope="col") (Biomarker Title Placeholder)
          th.bm_3.marker_name(header="Calculations for Biomarker 3", title="Calculations for Biomarker 3", scope="col") (Biomarker Title Placeholder)
        //-
          tr
            td.text-left.concern
              a.define(href="javascript:void(0);", data-term="concern") Concern = PPV-P(D+)
            td.concern_result.output_field.bm_1
            td.concern_result.output_field.bm_2
            td.concern_result.output_field.bm_3
          tr
            td.text-left.reassurance
              a.define(href="javascript:void(0);", data-term="reassurance") Reassurance = P(D+)-cNPV
            td.reassurance_result.output_field.bm_1
            td.reassurance_result.output_field.bm_2
            td.reassurance_result.output_field.bm_3
          tr
            td.text-left.q_sens
              a.define(href="javascript:void(0);", data-term="q_sens") Concentration = Sensitivity - P(M+)
            td.q_sens_result.output_field.bm_1
            td.q_sens_result.output_field.bm_2
            td.q_sens_result.output_field.bm_3
          tr
            td.text-left.q_spec
              a.define(href="javascript:void(0);", data-term="q_spec") Reduction = P(M+) - cSpec
            td.q_spec_result.output_field.bm_1
            td.q_spec_result.output_field.bm_2
            td.q_spec_result.output_field.bm_3
        tr
          td.text-left.mrs
            a.define(href="javascript:void(0);", data-term="mrs") Mean Risk Stratification = 2(ad-bc)
          td.mrs_result.output_field.bm_1
          td.mrs_result.output_field.bm_2
          td.mrs_result.output_field.bm_3
        tr
          td.text-left.max_mrs
            a.define(href="javascript:void(0);", data-term="max_mrs") Maximum possible MRS for a disease with this prevalence
          td.max_mrs_result.output_field.bm_1
          td.max_mrs_result.output_field.bm_2
          td.max_mrs_result.output_field.bm_3
        //-
          tr
            td.text-left.pbs
              a.define(href="javascript:void(0);", data-term="pbs") Population Burden Stratification (PBS) = a-b
            td.pbs_result.output_field.bm_1
            td.pbs_result.output_field.bm_2
            td.pbs_result.output_field.bm_3
          tr
            td.text-left.nnr
              a.define(href="javascript:void(0);", data-term="nnr") Number Needed to Recruit (NNR) = 1/PBS
            td.nnr_result.output_field.bm_1
            td.nnr_result.output_field.bm_2
            td.nnr_result.output_field.bm_3
          tr
            td.text-left.nns
              a.define(href="javascript:void(0);", data-term="nns") Number Needed to Screen (NNS) =1/RD
            td.nns_result.output_field.bm_1
            td.nns_result.output_field.bm_2
            td.nns_result.output_field.bm_3
        tr
          td.text-left.nnt
            a.define(href="javascript:void(0);", data-term="nnt") Number Needed to Test (NNTest) =2/MRS
          td.nnt_result.output_field.bm_1
          td.nnt_result.output_field.bm_2
          td.nnt_result.output_field.bm_3
      table#calcTable
        tr
          th(header="Parameters", scope="col") Parameters
          th.bm_1.marker_name(header="Parameter results for Biomarker 1", title="Parameter results for Biomarker 1", scope="col") (Biomarker Title Placeholder)
          th.bm_2.marker_name(header="Parameter results for Biomarker 2", title="Parameter results for Biomarker 2", scope="col") (Biomarker Title Placeholder)
          th.bm_3.marker_name(header="Parameter results for Biomarker 3", title="Parameter results for Biomarker 3", scope="col") (Biomarker Title Placeholder)
        tr
          td.text-left True Positive Fraction = a
          td.d_pos_result.output_field.bm_1
          td.d_pos_result.output_field.bm_2
          td.d_pos_result.output_field.bm_3
        tr
          td.text-left False Negative Fraction = b
          td.pos_d_neg_m_result.output_field.bm_1
          td.pos_d_neg_m_result.output_field.bm_2
          td.pos_d_neg_m_result.output_field.bm_3
        tr
          td.text-left False Positive Fraction = c
          td.neg_d_pos_m_result.output_field.bm_1
          td.neg_d_pos_m_result.output_field.bm_2
          td.neg_d_pos_m_result.output_field.bm_3
        tr
          td.text-left True Negative Fraction = d
          td.m_neg_result.output_field.bm_1
          td.m_neg_result.output_field.bm_2
          td.m_neg_result.output_field.bm_3
        tr
          td.text-left.prob_m(href="javascript:void(0);", data-term="prob_m") Marker Positivity
          td.prob_m_result.output_field.bm_1
          td.prob_m_result.output_field.bm_2
          td.prob_m_result.output_field.bm_3
        tr
          td.text-left.prob_d
            a.define(href="javascript:void(0);", data-term="prob_d") Disease Prevalence
          td.prob_d_result.output_field.bm_1
          td.prob_d_result.output_field.bm_2
          td.prob_d_result.output_field.bm_3
        tr
          td.text-left.ppv
            a.define(href="javascript:void(0);", data-term="PPV") Positive Predictive Value (PPV)
          td.ppv_result.output_field.bm_1
          td.ppv_result.output_field.bm_2
          td.ppv_result.output_field.bm_3
        tr
          td.text-left.cnpv
            a.define(href="javascript:void(0);", data-term="cnpv") Complement of Negative Predictive Value (cNPV)
          td.c_npv_result.output_field.bm_1
          td.c_npv_result.output_field.bm_2
          td.c_npv_result.output_field.bm_3
        tr
          td.text-left.sens
            a.define(href="javascript:void(0);", data-term="Sens") Sensitivity
          td.sens_result.output_field.bm_1
          td.sens_result.output_field.bm_2
          td.sens_result.output_field.bm_3
        tr
          td.text-left.spec
            a.define(href="javascript:void(0);", data-term="Spec") Specificity
          td.spec_result.output_field.bm_1
          td.spec_result.output_field.bm_2
          td.spec_result.output_field.bm_3
        tr
          td.text-left Complement of Specificity (cSpec)
          td.c_spec_result.output_field.bm_1
          td.c_spec_result.output_field.bm_2
          td.c_spec_result.output_field.bm_3
        tr
          td.text-left Relative Risk
          td.rr_result.output_field.bm_1
          td.rr_result.output_field.bm_2
          td.rr_result.output_field.bm_3
        tr
          td.text-left Risk Difference (RD)
          td.r_diff_result.output_field.bm_1
          td.r_diff_result.output_field.bm_2
          td.r_diff_result.output_field.bm_3
        tr
          td.text-left
            | Youden's Index (YI)
          td.youden_result.output_field.bm_1
          td.youden_result.output_field.bm_2
          td.youden_result.output_field.bm_3
        tr
          td.text-left
            a.define(href="javascript:void(0);", data-term="AUC") AUC = (1+YI)/2
          td.auc_result.output_field.bm_1
          td.auc_result.output_field.bm_2
          td.auc_result.output_field.bm_3
