#meanstorisk.tab-pane.fade(role='tabpanel')
  .top_section
    h3(title="Means to Risk Stratification tool") From Difference in Means to Risk Stratification: A Web Tool
    #helpGlossaryLinks
      a.goToGlossary(href="#") Glossary
    .maliable.clearfix
      .input
        .accordion.panel.panel-default
          .panel-heading
            b Choose how to enter the data
          .panel-heading(data-toggle="collapse", data-target="#file_upload")
            a(href="javascript:void(0);")
                .glyphicon.glyphicon-chevron-down
                span User Defined Distribution (from file)
          #file_upload.panel-body.collapse.in
            p.indent
              label.data_entry_by_file(for='input_file_upload')
                b
                  span Upload a raw case and control biomarker data file in csv format
                  a(href='meanstorisk/p16-ELISA-sample-data.csv')  (Example)
            p.indent
              input#input_file_upload.data_entry_by_file(type='file')
          .panel-heading(data-toggle="collapse", data-target="#cases_control")
            a(href="javascript:void(0);")
                .glyphicon.glyphicon-chevron-down
                span Normal Distribution
          #cases_control.panel-body.collapse
            .panel.panel-default
              .panel-heading.bold Enter Mean, Standard Error, and N for Cases and Controls
              table.table_container
                tr.table_row
                  td.emptyblock
                  th.bold(scope="col") Cases
                  th.bold(scope="col") Controls
                tr.table_row
                  td.text-right.bold Mean
                  td
                    input#mean_cases_input(type='text', value='4', size='4', aria-label="Mean for Cases")
                  td
                    input#mean_controls_input(type='text', value='1', size='4', aria-label="Mean for Controls")
                tr.table_row
                  td.text-right.bold Standard Error
                  td
                    input#stderr_cases_input.pull-left(type='text', value='0.1', size='4', aria-label="Standard Error for Cases")
                  td
                    input#stderr_controls_input(type='text', value='0.1', size='4', aria-label="Standard Error for Controls")
                tr.table_row
                  td.text-right.bold N
                  td
                    input#N_cases_input(type='text', value='100', size='4', aria-label="N for Cases")
                  td
                    input#N_controls_input(type='text', value='200', size='4', aria-label="N for Controls")
          .panel-footer
            .table_padding
              label#Spec(for='specificity')
                a.define(href="javascript:void(0);", data-term='Spec') Specificity:
              input#specificity(type='text', value='0.8, 0.9, 0.95, 0.99, 0.999',required)
            .table_padding
              label#DP(for='prevalence')
                a.define(href="javascript:void(0);", data-term='DP') Prevalence:
              input#prevalence(type='text', value='0.1, 0.05, 0.01, 0.005, 0.001',required)
        .table_padding.text-center
          button#calculate_button(type='button') Calculate
          button#reset(type='reset') Reset
          button#download_button.hide(type='button') Download Excel File
      .output
        table#mtr-results.panel.panel-default.table
          tr
            td.emptyblock
            th.header.bold#header-cases(scope="col") Cases
            th.header.bold#header-controls(scope="col") Controls
            th.header.bold#header-ovr(scope="col") Overall
          tr
            th.text-right.bold(scope="col") Mean
            td#mean_cases.emptyblock(headers="header-cases")
            td#mean_controls.emptyblock(headers="header-controls")
            td#mean_overall.emptyblock(headers="header-ovr")
          tr
            th.text-right.bold(scope="col") Standard Error
            td#stderr_cases.emptyblock(headers="header-cases")
            td#stderr_controls.emptyblock(headers="header-controls")
            td#stderr_overall.emptyblock(headers="header-ovr")
          tr
            th.text-right.bold(scope="col") N
            td#N_cases.emptyblock(headers="header-cases")
            td#N_controls.emptyblock(headers="header-controls")
            td#N_overall.emptyblock(headers="header-ovr")
          tr
            th.text-right.bold(scope="col") Standard Deviation
            td#deviation_cases.emptyblock(headers="header-cases")
            td#deviation_controls.emptyblock(headers="header-controls")
            td#deviation_overall.emptyblock(headers="header-ovr")
          tr
            th.text-right.bold(scope="col") Variance
            td#variance_cases.emptyblock(headers="header-cases")
            td#variance_controls.emptyblock(headers="header-controls")
            td#variance_overall.emptyblock(headers="header-ovr")
          tr
            th.text-right.bold(scope="col")
                a.define(href="javascript:void(0);", data-term='CV') Coefficient of Variation (CV)
            td#cv_cases.emptyblock(headers="header-cases")
            td#cv_controls.emptyblock(headers="header-controls")
            td#cv_overall.emptyblock(headers="header-ovr")
          tr
            th.text-right.bold(scope="col") Difference in Mean
            td#diff_cases.emptyblock(headers="header-cases")
            td#diff_controls.emptyblock(headers="header-controls")
            td#diff_overall.emptyblock(headers="header-ovr")
          tr
            th.text-right.bold(scope="col")
                a.define(href="javascript:void(0);", data-term='Delta') Delta
            td#delta_cases.emptyblock(headers="header-cases")
            td#delta_controls.emptyblock(headers="header-controls")
            td#delta_overall.emptyblock(headers="header-ovr")
          tr
            th.text-right.bold(scope="col")
                a.define(href="javascript:void(0);", data-term='AUC') AUC
            td#auc_cases.emptyblock(headers="header-cases")
            td#auc_controls.emptyblock(headers="header-controls")
            td#auc_overall.emptyblock(headers="header-ovr")
      .graph
    include ../partials/loader
    .bottom_section.small
      .tabbed_output_panel
