#meanstorisk.tab-pane.fade(role='tabpanel')
    .top_section
      h3.text-center From Difference in Means to Risk Stratification: A Web Tool
      #helpGlossaryLinks
        a.goToHelp(href="#help_meanstorisk") Help
        | &nbsp;
        a.goToGlossary(href="#") Glossary
      br
      .col-md-4
        form
          #accordion.panel.panel-default
            .panel-heading
                .panel-title
                    b Choose how to enter the data
            .panel-heading(data-toggle="collapse", data-target="#file_upload")
                .glyphicon.glyphicon-chevron-down
                | &nbsp; User Defined Distribution (from file)
            #file_upload.panel-body.collapse.in              
                p.indent
                    b.data_entry_by_file Upload a raw case and control biomarker data file in csv format 
                        a(href='meanstorisk/p16-ELISA-sample-data.csv') (Example)
                p.indent    
                    label(for='input_file_upload')
                      input#input_file_upload.data_entry_by_file(type='file')
            .panel-heading(data-toggle="collapse", data-target="#cases_control")
                .glyphicon.glyphicon-chevron-down
                | &nbsp; Normal Distribution
            #cases_control.panel-body.collapse
              .panel.panel-default.table_data.indent
                .panel-heading
                    b.data_entry_by_input Enter Mean, Standard Error, and N for Cases and Controls
                div
                    .row.table_data
                        .col-md-5.text-right.table_data
                        .col-md-2.table_data 
                            b Cases
                        .col-md-2.table_data
                            b Controls
                    .row.table_data
                        .col-md-5.text-right.table_data
                            b Mean
                        .pull-left.table_data
                            label(for='mean_cases_input')
                            input#mean_cases_input.data_entry_by_input(type='text', value='4', size='4')
                        .pull-left.table_data
                            label(for='mean_controls_input')
                            input#mean_controls_input.data_entry_by_input(type='text', value='1', size='4')
                    .row.table_data
                        .col-md-5.text-right.table_data
                            b Standard Error
                        .pull-left.table_data
                            label(for='stderr_cases_input')
                            input#stderr_cases_input.data_entry_by_input(type='text', value='0.1', size='4')
                        .pull-left.table_data
                            label(for='stderr_controls_input')
                            input#stderr_controls_input.data_entry_by_input(type='text', value='0.1', size='4')
                    .row.table_data
                        .col-md-5.text-right.table_data
                            b N
                        .pull-left.table_data
                            label(for='N_cases_input')
                            input#N_cases_input.data_entry_by_input(type='text', value='100', size='4')
                        .pull-left.table_data
                            label(for='N_controls_input')
                            input#N_controls_input.data_entry_by_input(type='text', value='200', size='4')
            .panel-footer
                #Spec.define(data-term='Spec') Specificity:
                label(for='specificity')
                  input#specificity(type='text', size='40', value='0.8, 0.9, 0.95, 0.99, 0.999',required)
                #DP.define(data-term='DP') Prevalence:
                label(for='prevalence')
                  input#prevalence(type='text', size='40', value='0.1, 0.05, 0.01, 0.005, 0.001',required)
          button#calculate_button(type='button') Calculate
          button#reset(type='reset') Reset
          button#download_button.hide(type='button') Download Excel File
        .row
            include ../partials/loader
      .panel.panel-default.col-md-3.table_panel
        .row 
            b.header.col-md-5 &nbsp;
            b.header.col-md-2 Cases
            b.header.col-md-3 Controls
            b.header.col-md-2 Overall
        .row.vertical-padding
            b.col-md-5.text-right Mean
            #mean_cases.col-md-2.table_data.text-center
            #mean_controls.col-md-3.table_data.text-center
            #mean_overall.col-md-2.table_data.text-center
        .row.vertical-padding
            b.col-md-5.text-right Standard Error
            #stderr_cases.col-md-2.table_data.text-center
            #stderr_controls.col-md-3.table_data.text-center
            #stderr_overall.col-md-2.table_data.text-center
        .row.vertical-padding
            b.col-md-5.text-right N
            #N_cases.col-md-2.table_data.text-center
            #N_controls.col-md-3.table_data.text-center
            #N_overall.col-md-2.table_data.text-center
        .row.line-above.vertical-padding
            b.col-md-5.text-right Standard Deviation
            #deviation_cases.col-md-2.table_data.text-center
            #deviation_controls.col-md-3.table_data.text-center
            #deviation_overall.col-md-2.table_data.text-center
        .row.vertical-padding
            b.col-md-5.text-right Variance
            #variance_cases.col-md-2.table_data.text-center
            #variance_controls.col-md-3.table_data.text-center
            #variance_overall.col-md-2.table_data.text-center
        .row.vertical-padding
            b.col-md-5.text-right
              #CV.define(data-term='CV') Coefficient of Variation (CV)
            #cv_cases.col-md-2.table_data
            #cv_controls.col-md-3.table_data
            #cv_overall.col-md-2.table_data
        .row.vertical-padding
            b.col-md-5.text-right Difference in Mean
            #diff_cases.col-md-2.table_data.text-center
            #diff_controls.col-md-3.table_data.text-center
            #diff_overall.col-md-2.table_data.text-center
        .row.vertical-padding
            b.col-md-5.text-right
              #Delta.define(data-term='Delta') Delta
            #delta_cases.col-md-2.table_data.text-center
            #delta_controls.col-md-3.table_data.text-center
            #delta_overall.col-md-2.table_data.text-center
        .row.vertical-padding
            b.col-md-5.text-right
              #AUC.define(data-term='AUC') AUC
            #auc_cases.col-md-2.table_data.text-center
            #auc_controls.col-md-3.table_data.text-center
            #auc_overall.col-md-2.table_data.text-center
      .graph_panel.col-md-4
    .bottom_section.small
      .tabbed_output_panel