#meanstorisk.tab-pane.fade(role='tabpanel')
  .top_section
    h3(title="Means to Risk Stratification tool") From Difference in Means to Risk Stratification: A Web Tool
    #helpGlossaryLinks
      a.goToHelp(href="#help_meanstorisk") Help
      a.goToGlossary(href="#") Glossary
    .maliable.clearfix
      .input
        #accordion.panel.panel-default
          .panel-heading
            b Choose how to enter the data
          .panel-heading(data-toggle="collapse", data-target="#file_upload")
            .glyphicon.glyphicon-chevron-down
            span User Defined Distribution (from file)
          #file_upload.panel-body.collapse.in
            p.indent
              label.data_entry_by_file(for='input_file_upload')
                b
                  span Upload a raw case and control biomarker data file in csv format
                  a(href='meanstorisk/p16-ELISA-sample-data.csv')  (Example)
            p.indent
              input#input_file_upload.data_entry_by_file(type='file')
          .panel-heading(data-toggle="collapse", data-target="#cases_control")
            .glyphicon.glyphicon-chevron-down
            span Normal Distribution
          #cases_control.panel-body.collapse
            .panel.panel-default
              .panel-heading.bold Enter Mean, Standard Error, and N for Cases and Controls
              .no-pad.table_container
                .table_row
                  .table_data.emptyblock
                  .table_data.bold Cases
                  .table_data.bold Controls
                .table_row
                  .table_data.text-right.bold Mean
                  .table_data
                    label.sr-only(for='mean_cases_input') Mean for Cases
                    input#mean_cases_input(type='text', value='4', size='4')
                  .table_data
                    label.sr-only(for='mean_controls_input') Mean for Controls
                    input#mean_controls_input(type='text', value='1', size='4')
                .table_row
                  .table_data.text-right.bold Standard Error
                  .table_data
                    label.sr-only(for='stderr_cases_input') Standard Error for Cases
                    input#stderr_cases_input.pull-left(type='text', value='0.1', size='4')
                  .table_data
                    label.sr-only(for='stderr_controls_input') Standard Error for Controls
                    input#stderr_controls_input(type='text', value='0.1', size='4')
                .table_row
                  .table_data.text-right.bold N
                  .table_data
                    label.sr-only(for='N_cases_input') N for Cases
                    input#N_cases_input(type='text', value='100', size='4')
                  .table_data
                    label.sr-only(for='N_controls_input') N for Controls
                    input#N_controls_input(type='text', value='200', size='4')
          .panel-footer
            .indent
              div
                label#Spec.define(for='specificity',data-term='Spec') Specificity:
                input#specificity(type='text', value='0.8, 0.9, 0.95, 0.99, 0.999',required)
              div
                label#DP.define(data-term='DP', for='prevalence') Prevalence:
                input#prevalence(type='text', value='0.1, 0.05, 0.01, 0.005, 0.001',required)
      .output
        #mtr-results.panel.panel-default.table_container
          .table_row
            .table_data.emptyblock
            .table_data.header.bold Cases
            .table_data.header.bold Controls
            .table_data.header.bold Overall
          .table_row
            .table_data.text-right.bold Mean
            #mean_cases.table_data.emptyblock
            #mean_controls.table_data.emptyblock
            #mean_overall.table_data.emptyblock
          .table_row
            .table_data.text-right.bold Standard Error
            #stderr_cases.table_data.emptyblock
            #stderr_controls.table_data.emptyblock
            #stderr_overall.table_data.emptyblock
          .table_row
            .table_data.text-right.bold N
            #N_cases.table_data.emptyblock
            #N_controls.table_data.emptyblock
            #N_overall.table_data.emptyblock
          .table_row
            .table_data.text-right.bold Standard Deviation
            #deviation_cases.table_data.emptyblock
            #deviation_controls.table_data.emptyblock
            #deviation_overall.table_data.emptyblock
          .table_row
            .table_data.text-right.bold Variance
            #variance_cases.table_data.emptyblock
            #variance_controls.table_data.emptyblock
            #variance_overall.table_data.emptyblock
          .table_row
            .table_data.text-right.bold.define(data-term='CV') Coefficient of Variation (CV)
            #cv_cases.table_data.emptyblock
            #cv_controls.table_data.emptyblock
            #cv_overall.table_data.emptyblock
          .table_row
            .table_data.text-right.bold Difference in Mean
            #diff_cases.table_data.emptyblock
            #diff_controls.table_data.emptyblock
            #diff_overall.table_data.emptyblock
          .table_row
            .table_data.text-right.bold.define(data-term='Delta') Delta
            #delta_cases.table_data.emptyblock
            #delta_controls.table_data.emptyblock
            #delta_overall.table_data.emptyblock
          .table_row
            .table_data.text-right.bold.define(data-term='AUC') AUC
            #auc_cases.table_data.emptyblock
            #auc_controls.table_data.emptyblock
            #auc_overall.table_data.emptyblock
      .graph
        .graph_panel
    div
      button#calculate_button(type='button') Calculate
      button#reset(type='reset') Reset
      button#download_button.hide(type='button') Download Excel File
    include ../partials/loader
    .bottom_section.small
      .tabbed_output_panel
