#meanRiskStratification.tab-pane.fade(role='tabpanel')
  h3(title="Mean Risk Stratification tool") Mean Risk Stratification
  #helpGlossaryLinks
    a.goToHelp(href="#help_meanRiskStratification") Help
    a.goToGlossary(href="#") Glossary
  form.input.panel-group
    #markers
      #marker-1.accordion.panel.panel-default
        .panel-heading.text-center.bold Biomarker #1
        .panel-body
          .table_padding
            label(for='name-input') Biomarker Name
            input#name-input.input_field(type='text', name='name-input', maxlength='30', pattern='^[a-zA-Z0-9_- ]*$')
        .panel-heading(data-parent='#marker-1', data-toggle='collapse', data-target='#marker-1 .option-1')
          .glyphicon.glyphicon-chevron-down
          span Input: 2x2 Table
        .option-1.panel-body.panel-collapse.table_container.collapse.in
          .table_row
            #m_neg.table_data.define(header="m_neg") Marker Negative (M-)
            #prob_m.table_data.define(header="prob_m") Marker Positive (M+)
            .table_data.emptyblock
          .table_row
            .table_data
              label.sr-only(for='b') B
              input#b.input_field(name='b', type='number', maxlength='30')
            .table_data
              label.sr-only(for='a') A
              input#a.input_field(name='a', type='number', maxlength='30')
            #prob_d.table_data.define Disease Positive (D+)
          .table_row
            .table_data
              label.sr-only(for='d') D
              input#d.input_field(name='d', type='number', maxlength='30')
            .table_data
              label.sr-only(for='c') C
              input#c.input_field(name='c', type='number', maxlength='30')
            #d_neg.table_data.define Disease Negative (D-)
        .panel-heading(data-parent='#marker-1', data-toggle='collapse', data-target='#marker-1 .option-2')
          .glyphicon.glyphicon-chevron-down
          span Input: PPV, NPV, Sensitivity, Specificity, etc.
        .option-2.panel-body.panel-collapse.collapse
          .table_padding
            label(for='sampsize') Sample Size
            input.input_field#sampsize(name='sampsize', type='number', maxlength='30', min='1')
          .table_container
            .table_row
              .table_data.bold(title='Parameter Type Column', header="Parameter Type Column") Parameter
              .table_data.bold(title='Parameter Proportion Column', header="Parameter Proportion Column") Proportion
            .table_row(row='0')
              .table_data
                label.sr-only(for="param_1") Parameter 1 Selections
                span.dd.define
                  img(src="/common/images/info.png", height="20", width="20",alt="pop up definition for parameter 1 dropdown value")
                div
                  select#param_1.input_field(name='param_1')
                    option(value='ppv') PPV
                    option(value='sens') Sensitivity
              .table_data
                  label.sr-only(for="param_1_value") Parameter 1 Selections
                  input#param_1_value.input_field(type='number', name='param_1', min='0', max='1', maxlength='30', step='0.0001')
            .table_row(row='1')
              .table_data
                label.sr-only(for="param_2") Parameter 2 Selections
                span.dd.define
                  img(src="/common/images/info.png", height="20", width="20",alt="pop up definition for parameter 2 dropdown value")
                div
                  select#param_2.input_field(name='param_2')
                    option(value='npv') NPV
                    option(value='spec') Specificity
              .table_data
                label.sr-only(for="param_2_value") Parameter 2 Selections
                input#param_2_value.input_field(type='number', name='param_2', min='0', max='1', maxlength='30', step='0.0001')
            .table_row(row='2')
              .table_data
                label.sr-only(for="param_3") Parameter 3 Selections
                span.dd.define
                  img(src="/common/images/info.png", height="20", width="20",alt="pop up definition for parameter 3 dropdown value")
                div
                  select#param_3.input_field(name='param_3')
                    option(value='prob_m') Marker Positivity (P(M+))
                    option(value='prob_d') Disease Prevalence (P(D+))
              .table_data
                label.sr-only(for="param_3_value") Parameter 3 Selections
                input#param_3_value.input_field(type='number', name='param_3', min='0', max='1', maxlength='30', step='0.0001')
    #control-group.table_container
      .table_row
        .table_data
          button#add-marker
            span.glyphicon.glyphicon-plus-sign(alt='Add(+)', title='Add biomarker')
            span Add
        .table_data
          button#delete-marker(title='Delete biomarker')
            span.glyphicon.glyphicon-minus-sign(alt='Delete(-)')
            span Delete
        .table_data
          button#calculate(type='button') Calculate
        .table_data
          button#reset(type='reset') Reset
      .table_row
        .table_data
            a#test1(href='#', title='Populate 1 biomarker using test data') Example 1
            a#test2(href='#', title='Populate 1 biomarker using test data') Example 2
  .output
    include ../partials/loader.jade
    #results.hide
      #paramTable.table_container
        .table_row
          .table_data(header="Calculations") Calculations
          .table_data.bm_1.marker_name(header="Calculations for Biomarker 1", title="Calculations for Biomarker 1") (Biomarker Title Placeholder)
          .table_data.bm_2.marker_name(header="Calculations for Biomarker 2", title="Calculations for Biomarker 2") (Biomarker Title Placeholder)
          .table_data.bm_3.marker_name(header="Calculations for Biomarker 3", title="Calculations for Biomarker 3") (Biomarker Title Placeholder)
        .table_row
          .table_data.concern.define Concern = PPV-P(D+)
          .table_data.concern_result.output_field.bm_1
          .table_data.concern_result.output_field.bm_2
          .table_data.concern_result.output_field.bm_3
        .table_row
          .table_data.text-left.reassurance.define Reassurance = P(D+)-cNPV
          .table_data.reassurance_result.output_field.bm_1
          .table_data.reassurance_result.output_field.bm_2
          .table_data.reassurance_result.output_field.bm_3
        .table_row
          .table_data.text-left.q_sens.define Concentration = Sensitivity - P(M+)
          .table_data.q_sens_result.output_field.bm_1
          .table_data.q_sens_result.output_field.bm_2
          .table_data.q_sens_result.output_field.bm_3
        .table_row
          .table_data.text-left.q_spec.define Reduction = P(M+) - cSpec
          .table_data.q_spec_result.output_field.bm_1
          .table_data.q_spec_result.output_field.bm_2
          .table_data.q_spec_result.output_field.bm_3
        .table_row
          .table_data.text-left.mrs.define Mean Risk Stratification = 2(ad-bc)
          .table_data.mrs_result.output_field.bm_1
          .table_data.mrs_result.output_field.bm_2
          .table_data.mrs_result.output_field.bm_3
        .table_row
          .table_data.text-left.max_mrs.define Maximum possible MRS for a disease with this prevalence
          .table_data.max_mrs_result.output_field.bm_1
          .table_data.max_mrs_result.output_field.bm_2
          .table_data.max_mrs_result.output_field.bm_3
        .table_row
          .table_data.pbs.define Population Burden Stratification (PBS) = a-b
          .table_data.pbs_result.output_field.bm_1
          .table_data.pbs_result.output_field.bm_2
          .table_data.pbs_result.output_field.bm_3
        .table_row
          .table_data.nnr.define Number Needed to Recruit (NNR) = 1/PBS
          .table_data.nnr_result.output_field.bm_1
          .table_data.nnr_result.output_field.bm_2
          .table_data.nnr_result.output_field.bm_3
        .table_row
          .table_data.nns.define Number Needed to Screen (NNS) =1/RD
          .table_data.nns_result.output_field.bm_1
          .table_data.nns_result.output_field.bm_2
          .table_data.nns_result.output_field.bm_3
      #calcTable.table_container
        .table_row
          .table_data(header="Parameters") Parameters
          .table_data.bm_1.marker_name(header="Parameter results for Biomarker 1", title="Parameter results for Biomarker 1") (Biomarker Title Placeholder)
          .table_data.bm_2.marker_name(header="Parameter results for Biomarker 2", title="Parameter results for Biomarker 2") (Biomarker Title Placeholder)
          .table_data.bm_3.marker_name(header="Parameter results for Biomarker 3", title="Parameter results for Biomarker 3") (Biomarker Title Placeholder)
        .table_row
          .table_data.test.define True Positive Fraction = a
          .table_data.d_pos_result.output_field.bm_1
          .table_data.d_pos_result.output_field.bm_2
          .table_data.d_pos_result.output_field.bm_3
        .table_row
          .table_data.test.define False Negative Fraction = b
          .table_data.pos_d_neg_m_result.output_field.bm_1
          .table_data.pos_d_neg_m_result.output_field.bm_2
          .table_data.pos_d_neg_m_result.output_field.bm_3
        .table_row
          .table_data.test.define False Positive Fraction = c
          .table_data.neg_d_pos_m_result.output_field.bm_1
          .table_data.neg_d_pos_m_result.output_field.bm_2
          .table_data.neg_d_pos_m_result.output_field.bm_3
        .table_row
          .table_data.test.define True Negative Fraction = d
          .table_data.m_neg_result.output_field.bm_1
          .table_data.m_neg_result.output_field.bm_2
          .table_data.m_neg_result.output_field.bm_3
        .table_row
          .table_data.define.prob_m Marker Positivity
          .table_data.prob_m_result.output_field.bm_1
          .table_data.prob_m_result.output_field.bm_2
          .table_data.prob_m_result.output_field.bm_3
        .table_row
          .table_data.prob_d.define Disease Prevalence
          .table_data.prob_d_result.output_field.bm_1
          .table_data.prob_d_result.output_field.bm_2
          .table_data.prob_d_result.output_field.bm_3
        .table_row
          .table_data.define.ppv Positive Predictive Value (PPV)
          .table_data.ppv_result.output_field.bm_1
          .table_data.ppv_result.output_field.bm_2
          .table_data.ppv_result.output_field.bm_3
        .table_row
          .table_data.cnpv.define Complement of Negative Predictive Value (cNPV)
          .table_data.c_npv_result.output_field.bm_1
          .table_data.c_npv_result.output_field.bm_2
          .table_data.c_npv_result.output_field.bm_3
        .table_row
          .table_data.define.sens Sensitivity
          .table_data.sens_result.output_field.bm_1
          .table_data.sens_result.output_field.bm_2
          .table_data.sens_result.output_field.bm_3
        .table_row
          .table_data.define.spec Specificity
          .table_data.spec_result.output_field.bm_1
          .table_data.spec_result.output_field.bm_2
          .table_data.spec_result.output_field.bm_3
        .table_row
          .table_data.test.define Complement of Specificity (cSpec)
          .table_data.c_spec_result.output_field.bm_1
          .table_data.c_spec_result.output_field.bm_2
          .table_data.c_spec_result.output_field.bm_3
        .table_row
          .table_data.test.define Relative Risk
          .table_data.rr_result.output_field.bm_1
          .table_data.rr_result.output_field.bm_2
          .table_data.rr_result.output_field.bm_3
        .table_row
          .table_data.test.define Risk Difference (RD)
          .table_data.r_diff_result.output_field.bm_1
          .table_data.r_diff_result.output_field.bm_2
          .table_data.r_diff_result.output_field.bm_3
        .table_row
          .table_data.test.define
            | Youden's Index (YI)
          .table_data.youden_result.output_field.bm_1
          .table_data.youden_result.output_field.bm_2
          .table_data.youden_result.output_field.bm_3
        .table_row
          .table_data.auc.define AUC = (1+YI)/2
          .table_data.auc_result.output_field.bm_1
          .table_data.auc_result.output_field.bm_2
          .table_data.auc_result.output_field.bm_3
