#riskStratAdvanced.tab-pane.fade(role='tabpanel')
    h3.title.text-center(title="Risk Stratification Advanced Analysis tool") Risk Stratification Advanced Analysis
    .col-xs-12
        #helpGlossaryLinks
          a.goToHelp(href="#help_riskStratAdvanced") Help
          | &nbsp;
          a.goToGlossary(href="#") Glossary
    .col-xs-7
        .panel.panel-default
            .panel-body.col-xs-pull-12
                .row
                    .col-xs-4
                        label(for='independent_dropdown_rs') Independent Variable
                    .col-xs-3
                        select#independent_dropdown_rs(name='independent_dropdown_rs')
                            option(value='', selected='')
                            option(value='specificity') Specificity
                            option(value='prevalence') Prevalence
                            option(value='ppv') PPV
                            option(value='delta') Delta
                            option(value='sensitivity') Sensitivity
                            option(value='cnpv') cNPV
                    label.sr-only(for='independent_rs') Independent Variable Value
                    input#independent_rs.col-xs-4(type='text', size='30', pattern='([0-9,. \-])+', title='An array of floating point numbers seperated by commas.', required)
                    .col-xs-push-1
                        #indDef
                .row
                    .col-xs-4
                        label(for='contour_dropdown_rs') Contour
                    .col-xs-3
                        select#contour_dropdown_rs(name='contour_dropdown_rs')
                            option(value='', selected='')
                            option(value='ppv') PPV
                            option(value='prevalence') Prevalence
                            option(value='specificity') Specificity
                            option(value='delta') Delta
                            option(value='sensitivity') Sensitivity
                            option(value='cnpv') cNPV
                    label.sr-only(for='contour_rs') Contour Value
                    input#contour_rs.col-xs-4(type='text', size='30', pattern='([0-9,. \-])+', title='An array of floating point numbers seperated by commas.', required)
                    .col-xs-push-1
                        #contourDef
                .row
                    .col-xs-4
                        label(for='fixed_dropdown_rs') Fixed Values
                    .col-xs-3
                        select#fixed_dropdown_rs(name='fixed_dropdown_rs')
                            option(value='', selected='')
                            option(value='prevalence') Prevalence
                            option(value='delta') Delta
                            option(value='ppv') PPV
                            option(value='specificity') Specificity
                            option(value='sensitivity') Sensitivity
                            option(value='cnpv') cNPV
                    label.sr-only(for='fixed_rs') Fixed Value
                    input#fixed_rs.col-xs-4(type='text', size='30', pattern='([0-9,. \-])+', title='An array of floating point numbers seperated by commas', required)
                    .col-xs-push-1
                        #fvDef
            .panel-footer
                button#calculate Calculate
                button#reset(type='reset') Reset
                button#download.hide Download Excel
                .pull-right
                    a.pull-right#add-test-data(href='#', title='Populate variables with a working example') Example
    #examples.col-xs-5
        .row.vertical-padding
            span.variable-example
        .row.vertical-padding
            span.variable-example
        .row.vertical-padding
            span.variable-example
    #status-bar Status Bar
    #dialog-confirm.modal.fade(title='Rules Violation')
        .modal-dialog
        .modal-content
            .modal-header One or more of the following rules have been violated:
            .modal-body
                ul.list-unstyled
                  li.rule.rule1
                    strong
                        | Specificity, Sensitivity, PPV, cNPV, and Prevalence can only be 0 to 1
                  li.rule.rule2
                    strong
                        | Delta can be 0 to 5
                  li.rule.rule3
                    strong
                        | cNPV < Prevalence
                  li.rule.rule3
                    strong
                        | For arrays: max(cNPV) < min(Prevalence)
                  li.rule.rule4
                    strong
                        | Prevalence < PPV
                  li.rule.rule4
                    strong
                        | For arrays: max(prev) < min(PPV)
                  li.rule.rule5
                    strong
                        | Sensitivity+Specificity-1 > 0
                strong
                    | Do you wish to continue with calculation anyway?
    .col-xs-12
        include ../partials/loader
    .col-xs-12.row#output
