#riskStratAdvanced.tab-pane.fade(role='tabpanel')
  h3(title="Risk Stratification Advanced Analysis tool") Risk Stratification Advanced Analysis
  #helpGlossaryLinks
    a.goToHelp(href="#help_riskStratAdvanced") Help
    a.goToGlossary(href="#") Glossary
  .input.panel.panel-default
    .panel-body.table_container
      .table_row
        .table_data.bold.text-right
          label(for='independent_dropdown_rs') Independent Variable
        .table_data
          select#independent_dropdown_rs(name='independent_dropdown_rs')
            option(value='', selected='')
            option(value='specificity') Specificity
            option(value='prevalence') Prevalence
            option(value='ppv') PPV
            option(value='delta') Delta
            option(value='sensitivity') Sensitivity
            option(value='cnpv') cNPV
        a#indDef.table_data.emptyblock.define(href="#", data-term="")
          img(src="/common/images/info.png")
        .table_data
          label.sr-only(for='independent_rs') Independent Variable Value
          input#independent_rs(type='text', size='30', pattern='([0-9,. \-])+', title='An array of floating point numbers seperated by commas.', required)
      .table_row
        .table_data.bold.text-right
          label(for='contour_dropdown_rs') Contour
        .table_data
          select#contour_dropdown_rs(name='contour_dropdown_rs')
            option(value='', selected='')
            option(value='ppv') PPV
            option(value='prevalence') Prevalence
            option(value='specificity') Specificity
            option(value='delta') Delta
            option(value='sensitivity') Sensitivity
            option(value='cnpv') cNPV
        a#contourDef.table_data.emptyblock.define(href="#", data-term="")
          img(src="/common/images/info.png")
        .table_data
          label.sr-only(for='contour_rs') Contour Value
          input#contour_rs(type='text', size='30', pattern='([0-9,. \-])+', title='An array of floating point numbers seperated by commas.', required)
      .table_row
        .table_data.bold.text-right
          label(for='fixed_dropdown_rs') Fixed Values
        .table_data
          select#fixed_dropdown_rs(name='fixed_dropdown_rs')
            option(value='', selected='')
            option(value='prevalence') Prevalence
            option(value='delta') Delta
            option(value='ppv') PPV
            option(value='specificity') Specificity
            option(value='sensitivity') Sensitivity
            option(value='cnpv') cNPV
        a#fvDef.table_data.emptyblock.define(href="#", data-term="")
          img(src="/common/images/info.png")
        .table_data
          label.sr-only(for='fixed_rs') Fixed Value
          input#fixed_rs(type='text', size='30', pattern='([0-9,. \-])+', title='An array of floating point numbers seperated by commas', required)
    .panel-footer
      button#calculate Calculate
      button#reset(type='reset') Reset
      button#download.hide Download Excel
      .pull-right
        a.pull-right#add-test-data(href='#', title='Populate variables with a working example') Example
  #examples
    .table_padding
      span.variable-example
    .table_padding
      span.variable-example
    .table_padding
      span.variable-example
  div
    include ../partials/loader
  .output
