body {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", "Arial", "sans-seriff";
}
body #main {
  width: 1280px;
  margin: 0 auto;
  font-size: small;
}
body .title {
  color: #000;
}
body .bg-popover {
  background-color: highlight;
}
body .bg-popover .popover-title {
  background-color: #dbdbb8;
}
body .subheader {
  font-weight: bold;
  color: #fff;
  background-color: #708090;
}
body .extra-padding {
  padding: 1em;
}
body .extra-vertical-margin {
  margin: 10px 0;
}
body #contentTabs {
  margin: 1.5em auto;
}
body #contentTabs ul.nav.nav-tabs {
  font-size: 9pt;
}
body #contentTabs ul.nav.nav-tabs > li {
  border-bottom: 1px solid #ddd;
}
body #contentTabs ul.nav.nav-tabs a {
  color: #000;
}
body #contentTabs ul.nav.nav-tabs > li.active a {
  text-decoration: underline;
  font-weight: bold;
}
body #contentTabs ul.nav.nav-tabs :after {
  border: solid transparent;
  margin-left: -10px;
  top: 100%;
  left: 50%;
}
body #contentTabs .tab-content {
  line-height: 1.42857143;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 1.5em;
}
body #contentTabs #sampleSize .row {
  margin: 1em auto;
}
body #contentTabs #bc .example-image {
  float: left;
}
body #contentTabs #bc .explanation {
  float: left;
  padding-left: 15px;
  width: 600px;
}
body #contentTabs #bc .reference_row {
  background-color: #ff0;
}
body #contentTabs #bc td {
  text-align: center;
}
body #contentTabs #bc .top-header {
  text-align: center;
  background-color: #444;
  color: #fff;
}
body #contentTabs #bc .header {
  background-color: #aaa;
  color: #444;
}
body #contentTabs #bc #output {
  width: 500px;
}
body #contentTabs #bc #inputdata {
  width: 500px;
}
body #contentTabs #bc h2 {
  background-color: #aaa;
  color: #444;
  padding: 5px;
}
body #contentTabs #bc .prevalence_label {
  font-weight: bold;
  background-color: #aaa;
  color: #444;
  padding: 2px 25px 2px 25px;
}
body #contentTabs #bc .bibliography {
  width: 950px;
  clear: both;
  float: left;
  margin: 50px;
}
body #contentTabs #bc .bib-author {
  float: left;
}
body #contentTabs #bc .bib-year {
  float: left;
}
body #contentTabs #bc .bib-title {
  float: left;
  font-style: italic;
}
body #contentTabs #bc .bib-journal {
  float: left;
}
body #contentTabs #bc .bib-ref {
  float: left;
}
body #contentTabs #bc .bib-pages {
  float: left;
}
body #contentTabs #bc .bib-doi {
  float: left;
}
body #contentTabs #bc .bibliography_entry {
  width: 300px;
}
body #contentTabs #bc .bibliography_link {
  width: 50px;
}
body #contentTabs #meanstorisk .table_panel .header {
  background-color: #f5f5f5;
  padding: 0.45em 0;
}
body #contentTabs #meanstorisk .table_panel .row {
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
body #contentTabs #meanstorisk #download_button {
  margin: 10px;
}
body #contentTabs #meanstorisk .top_section {
  height: 400px;
}
body #contentTabs #meanstorisk .bottom_section {
  clear: left;
  height: 400px;
}
body #contentTabs #meanstorisk .input_panel {
  border: 1px #bbb solid;
}
body #contentTabs #meanstorisk div.input_accordion {
  background: #fff url("");
}
body #contentTabs #meanstorisk h3.input_accordion {
background-color
  background: #ddd url("");
}
body #contentTabs #meanstorisk .output_graph {
  max-width: 38%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body #contentTabs #meanstorisk .key_output_panel {
  float: left;
  width: 300px;
  background-color: #faf;
  height: 99%;
}
body #contentTabs #meanstorisk .tabbed_output_panel {
  height: 99%;
}
body #contentTabs #meanstorisk .indent {
  margin-left: 30px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}
body #contentTabs #meanstorisk .highlight {
  background-color: #ff0;
}
body #contentTabs #meanstorisk .col1 {
  padding: 6px;
  text-align: right;
}
body #contentTabs #meanstorisk .maincard {
  width: 800px;
  height: 750px;
  border: 2px #000 solid;
}
body #contentTabs #meanstorisk .highlight {
  background-color: #ff0;
}
body #contentTabs #meanstorisk table.table_data {
  width: 90%;
  background-color: #fff;
  border: 1px #bbb solid;
}
body #contentTabs #meanstorisk table.output_data {
  background-color: #fff;
  border-collapse: collapse;
  border: 2px #000 solid;
}
body #contentTabs #meanstorisk th.table_data {
  padding: 2px;
}
body #contentTabs #meanstorisk th.header {
  border-bottom: 1px #bbb solid;
}
body #contentTabs #meanstorisk tr.table_data_header {
  border-bottom: 1px #000 solid;
  background-color: #a0a0a0;
}
body #contentTabs #meanstorisk tr.line-above {
  border-top: 1px #bbb solid;
}
body #contentTabs #meanstorisk .main-title {
  text-align: center;
}
body #contentTabs #meanstorisk .PPV_stripe {
  border-bottom: 1px #000 solid;
  background-color: #b080ff;
}
body #contentTabs #meanstorisk .cNPV_stripe {
  border-bottom: 1px #000 solid;
  background-color: #8080ff;
}
body #contentTabs #meanstorisk .PPVcNPV_stripe {
  border-bottom: 1px #000 solid;
  background-color: #ffaa80;
}
body #contentTabs #meanstorisk .ProgramBased_stripe {
  border-bottom: 1px #000 solid;
  background-color: #ffb0d0;
}
body #contentTabs #meanstorisk .PPVBased_stripe {
  border-bottom: 1px #000 solid;
  background-color: #a0a0a0;
}
body #contentTabs #meanstorisk .SensitivityBased_stripe {
  border-bottom: 1px #000 solid;
  background-color: #808080;
}
body #contentTabs #meanstorisk .DominatedByRareDisease_stripe {
  border-bottom: 1px #000 solid;
  background-color: #f0f0f0;
}
body #contentTabs #help h4 a {
  color: #fff;
  font-size: smaller;
}
body #contentTabs #help section h5 {
  font-weight: bold;
  text-decoration: underline;
}
body #contentTabs #meanRiskStratification .red {
  background-color: #a90002;
}
body #contentTabs #meanRiskStratification .panel-title,
body #contentTabs #meanRiskStratification .panel-title a {
  font-size: small;
}
body #contentTabs #meanRiskStratification table input[type="text"] {
  width: 50px;
}
body #contentTabs #meanRiskStratification .top-header {
  text-align: center;
  color: #fff;
}
body #contentTabs #meanRiskStratification .panel-toggle a,
body #contentTabs #meanRiskStratification .panel-title a {
  color: #000;
  font-weight: bold;
}
body #contentTabs #meanRiskStratification label {
  font-weight: bold;
}
body #contentTabs #meanRiskStratification .well,
body #contentTabs #meanRiskStratification #results {
  min-height: 645px;
}
body #contentTabs #meanRiskStratification .termToDefine,
body #contentTabs #meanRiskStratification th {
  font-weight: bold;
}
body #contentTabs #meanRiskStratification .termToDefine.glyphicon {
  text-decoration: none;
}
body #contentTabs #meanRiskStratification .loader {
  background-image: url("/common/images/loading.gif") no-repeat;
  margin: 0 auto;
  height: 300px;
  width: 100%;
}
body #contentTabs #meanRiskStratification input[type="number"] {
  width: 10rem;
}
body #contentTabs #meanRiskStratification .input:invalid {
  background-color: #ff0;
}
