#meanstorisk.tab-pane.fade(role='tabpanel')
    .top_section
      h3.text-center From Difference in Means to Risk Stratification: A Web Tool
      #helpGlossaryLinks
        a.goToHelp(data-target="#help_meanstorisk") Help
        | &nbsp;
        a.goToGlossary(data-target="#glossary") Glossary
      br
      .col-md-4
        p.text-center
            strong Choose how to enter the data
        form
          #accordion.panel.panel-default
            .panel-heading
                .panel-title(data-toggle="collapse", data-target="#file_upload")
                    | User Defined Distribution (from File)
                    .glyphicon.glyphicon-chevron-down
            #file_upload.panel-body.collapse.in
              strong.data_entry_by_file Upload a raw case and control biomarker data file in csv format
                a(href='meanstorisk/p16-ELISA-sample-data.csv') (Example)
              p.indent
                label(for='input_file_upload')
                  input#input_file_upload.data_entry_by_file(type='file')
            .panel-heading
                .panel-title(data-toggle="collapse", data-target="#cases_control") Normal Distribution
                    .glyphicon.glyphicon-chevron-down
            #cases_control.panel-body.collapse
              strong.indent.data_entry_by_input Enter Mean, Standard Error, and N for Cases and Controls
              .panel.panel-default.table_data
                .row.table_data
                  .col-md-4.header.text-right.table_data.header
                  .col-md-4.header.text-right.table_data.header Cases
                  .col-md-4.header.text-right.table_data.header Controls
                .row.table_data
                  .col-md-4.header.text-right.table_data.text-right Mean
                  .col-md-4.header.text-right.table_data
                    label(for='mean_cases_input')
                    input#mean_cases_input.data_entry_by_input(type='text', value='4', size='4')
                  .col-md-4.header.text-right.table_data
                    label(for='mean_controls_input')
                    input#mean_controls_input.data_entry_by_input(type='text', value='1', size='4')
                .row.table_data
                  .col-md-4.header.text-right.table_data.text-right Standard Error
                  .col-md-4.header.text-right.table_data
                    label(for='stderr_cases_input')
                    input#stderr_cases_input.data_entry_by_input(type='text', value='0.1', size='4')
                  .col-md-4.header.text-right.table_data
                    label(for='stderr_controls_input')
                    input#stderr_controls_input.data_entry_by_input(type='text', value='0.1', size='4')
                .row.table_data
                  .col-md-4.header.text-right.table_data.text-right N
                  .col-md-4.header.text-right.table_data
                    label(for='N_cases_input')
                    input#N_cases_input.data_entry_by_input(type='text', value='100', size='4')
                  .col-md-4.header.text-right.table_data
                    label(for='N_controls_input')
                    input#N_controls_input.data_entry_by_input(type='text', value='200', size='4')
            .panel
                #Spec.termToDefine(data-term='Spec') Specificity:
                #SpecDefinition.popupDefinition
                label(for='specificity')
                  input#specificity(type='text', size='40', value='0.8, 0.9, 0.95, 0.99, 0.999')
                #DP.termToDefine(data-term='DP') Prevalence:
                #DPDefinition.popupDefinition
                label(for='prevalence')
                  input#prevalence(type='text', size='40', value='0.1, 0.05, 0.01, 0.005, 0.001')
          input#calculate_button.pull-left(type='button', value='Calculate')
          input#download_button.pull-right(type='button', value='Download Excel File')
      .panel.panel-default.col-md-4.table_panel
        .row
            strong.col-md-4.header &nbsp;
            strong.col-md-2.header Cases
            strong.col-md-3.header Controls
            strong.col-md-3.header Overall
        .row.table_data
            strong.header.table_data.col-md-4 Mean
            #mean_cases.col-md-4.table_data.text-rcenterght
            #mean_controls.col-md-4.table_data.text-center
            #mean_overall.col-md-4.table_data.text-center
        .row.table_data
            strong.header.table_data.col-md-4 Standard Error
            #stderr_cases.col-md-4.table_data.text-center
            #stderr_controls.col-md-4.table_data.text-center
            #stderr_overall.col-md-4.table_data.text-center
        .row.table_data
            strong.header.table_data.col-md-4 N
            #N_cases.col-md-4.table_data.text-center
            #N_controls.col-md-4.table_data.text-center
            #N_overall.col-md-4.table_data.text-center
        .row.table_data.line-above
            strong.header.table_data.col-md-4 Standard Deviation
            #deviation_cases.col-md-4.table_data
            #deviation_controls.col-md-4.table_data
            #deviation_overall.col-md-4.table_data
        .row.table_data
            strong.header.table_data.col-md-4 Variance
            #variance_cases.col-md-4.table_data
            #variance_controls.col-md-4.table_data
            #variance_overall.col-md-4.table_data
        .row.table_data
            strong.header.table_data.col-md-4
              #CV.termToDefine(data-term='CV') Coefficient of Variation (CV)
              #CVDefinition.popupDefinition
            #cv_cases.col-md-4.table_data
            #cv_controls.col-md-4.table_data
            #cv_overall.col-md-4.table_data
        .row.table_data
            strong.header.table_data.col-md-4 Difference in Mean
            #diff_cases.col-md-4.table_data
            #diff_controls.col-md-4.table_data
            #diff_overall.col-md-4.table_data
        .row.table_data
            strong.header.table_data.col-md-4
              #Delta.termToDefine(data-term='Delta') Delta
              #DeltaDefinition.popupDefinition
            #delta_cases.col-md-4.table_data
            #delta_controls.col-md-4.table_data
            #delta_overall.col-md-4.table_data
        .row.table_data
            strong.header.table_data.col-md-4
              #AUC.termToDefine(data-term='AUC') AUC
              #AUCDefinition.popupDefinition
            #auc_cases.col-md-4.table_data
            #auc_controls.col-md-4.table_data
            #auc_overall.col-md-4.table_data
      .graph_panel.col-md-4
    .bottom_section
      .tabbed_output_panel