#riskStratAdvanced.tab-pane.fade(role='tabpanel')
    h3.title.text-center(title="Risk Stratification Adnvanced Analysis") Risk Stratification Advanced Analysis
    #helpGlossaryLinks.col-md-offset-11.extra-padding
      a.goToHelp(data-target="#help_riskStratAdvanced") Help
      | &nbsp;
      a.goToGlossary(data-target="#glossary") Glossary
    form.col-md-6
      table
        tr
          td
            label(for='independent_dropdown') Independent Variable
          td
            select.input-sm#independent_dropdown(name='independent_dropdown')
              option(value='', selected='')
              option(value='specificity') Specificity
              option(value='prevalence') Prevalence
              option(value='ppv') PPV
              option(value='delta') Delta
              option(value='sensitivity') Sensitivity
              option(value='cnpv') cNPV
          td
            label.sr-only(for='independent') Independent Variable Value
            input.input-sm#independent(type='text', size='30', pattern='([0-9,. \-])+', title='An array of floating point numbers seperated by commas.', required='')
          td
            #indDef
          td
            span.variable-example
        tr
          td
            label(for='contour_dropdown') Contour
          td
            select.input-sm#contour_dropdown(name='contour_dropdown')
              option(value='', selected='')
              option(value='ppv') PPV
              option(value='prevalence') Prevalence
              option(value='specificity') Specificity
              option(value='delta') Delta
              option(value='sensitivity') Sensitivity
              option(value='cnpv') cNPV
          td
            label.sr-only(for='contour') Contour Value
            input.input-sm#contour(type='text', size='30', pattern='([0-9,. \-])+', title='An array of floating point numbers seperated by commas.', required='')
          td
            #contourDef
          td
            span.variable-example
        tr
          td
            label(for='fixed_dropdown') Fixed Values
          td
            select.input-sm#fixed_dropdown(name='fixed_dropdown')
              option(value='', selected='')
              option(value='prevalence') Prevalence
              option(value='delta') Delta
              option(value='ppv') PPV
              option(value='specificity') Specificity
              option(value='sensitivity') Sensitivity
              option(value='cnpv') cNPV
          td
            label.sr-only(for='fixed') Fixed Value
            input.input-sm#fixed(type='text', size='30', pattern='([0-9,. \-])+', title='An array of floating point numbers seperated by commas', required='')
          td
            #fvDef
          td
            span.variable-example
      div
        .pull-left
            button#calculate(disabled='') Calculate
            button#reset(type='reset') Reset
        .pull-right
            a.pull-right#add-test-data(href='#', title='Populate variables with a working example') Example
      #status-bar Status Bar
    #dialog-confirm.modal.fade(title='Rules Violation')
        .modal-dialog
        .modal-content
            .modal-header One or more of the following rules have been violated:
            .modal-body
                ul.list-unstyled
                  li.rule.rule1 Specificity, Sensitivity, PPV, cNPV, and Prevalence can only be 0 to 1
                  li.rule.rule2
                    strong Delta can be 0 to 5
                  li.rule.rule3 
                    strong cNPV < Prevalence
                  li.rule.rule3 
                    strong For arrays: max(cNPV) < min(Prevalence)
                  li.rule.rule4 
                    strong Prevalence < PPV
                  li.rule.rule4
                    strong For arrays: max(prev) < min(PPV)
                  li.rule.rule5
                    strong Sensitivity+Specificity-1 > 0
                strong Do you wish to continue with calculation anyway?
    #output
    #output1
