body {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", "Arial", "sans-seriff";
}
#main {
  width: 1100px;
  margin: 0 auto;
  font-size: small;
}
.title {
  color: #000;
}
#contentTabs {
  margin: 1.5em auto;
/* sample size styles */
}
#contentTabs ul.nav.nav-tabs > li a {
  color: #000;
}
#contentTabs ul.nav.nav-tabs :after {
  border: solid transparent;
  margin-left: -10px;
  top: 100%;
  left: 50%;
}
#contentTabs #sampleSize .example-image {
  float: left;
}
#contentTabs #sampleSize .explanation {
  float: left;
  padding-left: 15px;
  width: 600px;
}
#contentTabs #sampleSize .reference_row {
  background-color: #ff0;
}
#contentTabs #sampleSize #maindiv {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
#contentTabs #sampleSize .fontnormal {
  font-weight: normal;
}
#contentTabs #sampleSize .dom_valref {
  display: none;
}
#contentTabs #sampleSize td.label {
  text-align: right;
}
#contentTabs #sampleSize .top-header {
  text-align: center;
  background-color: #444;
  color: #fff;
}
#contentTabs #sampleSize .header {
  background-color: #aaa;
  color: #000;
  font-family: sans-serif;
  font-size: 80%;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  border-collapse: collapse;
  border: 1px solid #000;
  text-align: center;
}
#contentTabs #sampleSize #output {
  width: 500px;
}
#contentTabs #sampleSize #inputdata {
  width: 500px;
}
#contentTabs #sampleSize .prevalence_label {
  font-weight: bold;
  background-color: #aaa;
  color: #444;
  padding: 2px 25px 2px 25px;
}
#contentTabs #sampleSize .bibliography {
  width: 950px;
  clear: both;
  float: left;
  margin: 50px;
}
#contentTabs #sampleSize .bib-author {
  float: left;
}
#contentTabs #sampleSize .bib-year {
  float: left;
}
#contentTabs #sampleSize .bib-title {
  float: left;
  font-style: italic;
}
#contentTabs #sampleSize .bib-journal {
  float: left;
}
#contentTabs #sampleSize .bib-ref {
  float: left;
}
#contentTabs #sampleSize .bib-pages {
  float: left;
}
#contentTabs #sampleSize .bib-doi {
  float: left;
}
#contentTabs #sampleSize .bibliography_entry {
  width: 300px;
}
#contentTabs #sampleSize .bibliography_link {
  width: 50px;
}
#contentTabs #sampleSize table.table_data {
  background-color: #fff;
  border: 1px solid #bbb;
  border-collapse: collapse;
  margin-left: 20px;
  margin-right: 20px;
  width: 90%;
}
#contentTabs #sampleSize table.output_data {
  background-color: #fff;
  border: 2px solid #000;
  border-collapse: collapse;
  margin-left: 20px;
  margin-right: 20px;
}
#contentTabs #sampleSize table.table_data td {
  font-family: sans-serif;
  text-align: center;
  font-size: 80%;
  border-bottom: 1px solid #bbb;
  border-left: 1px solid #bbb;
  border-collapse: collapse;
}
#contentTabs #sampleSize .example {
  text-align: right;
}
#contentTabs #sampleSize th.col1 {
  text-align: right;
}
#contentTabs #sampleSize tr.table_data_header {
  background-color: #a0a0a0;
  border-bottom: 1px solid #000;
}
#contentTabs #sampleSize .ui-tabs .ui-tabs-nav li {
  height: 50px;
  font-size: 12px;
  text-align: center;
}
