@-ms-viewport {
  width: "device-width";
}
@media (min-width: 1280px) {
  .container {
    width: 1200px;
  }
}
body {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", "Arial", "sans-seriff";
}
input {
  padding: 1px !important;
}
#header-wrap {
  background-color: #a90101;
}
#main {
  margin: 0 auto;
  font-size: small;
}
img.expand {
  -webkit-transition: -webkit-transform 0.5s ease-in;
  -moz-transition: -moz-transform 0.5s ease-in;
  -o-transition: -o-transform 0.5s ease-in;
  -ms-transition: -ms-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
}
img.expand:hover,
img.expand:active {
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -o-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}
.indent {
  margin-left: 30px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.vertical-padding {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.no-pad {
  padding: 0;
}
.title {
  color: #000;
}
.define,
.termToDefine {
  font-weight: bold;
  text-decoration: underline;
  cursor: help;
}
.popover .popover-title {
  background-color: #fffff0;
  font-weight: bold;
}
.popover .popover-content {
  background-color: #ffffe0;
}
.header {
  background-color: #f5f5f5;
}
.extra-padding {
  padding: 1em;
}
.extra-vertical-margin {
  margin: 10px 0;
}
#contentTabs {
  width: 100%;
  margin: 1.5em auto;
}
#contentTabs ul.nav.nav-tabs {
  font-size: small;
}
#contentTabs ul.nav.nav-tabs a {
  color: #000;
}
#contentTabs ul.nav.nav-tabs > li.active a {
  text-decoration: underline;
  font-weight: bold;
}
#contentTabs ul.nav.nav-tabs :after {
  border: solid transparent;
  margin-left: -10px;
  top: 100%;
  left: 50%;
}
#contentTabs .tab-content {
  line-height: 1.42857143;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 1.5em;
}
#contentTabs #sampleSize .tablevars {
  padding: 0;
}
#contentTabs #sampleSize .row {
  margin: 1em auto;
}
#contentTabs #bc .explanation {
  float: left;
  padding-left: 15px;
}
#contentTabs #bc .reference_row {
  background-color: #ff0;
}
#contentTabs #bc .top-header {
  text-align: center;
  background-color: #444;
  color: #fff;
}
#contentTabs #bc #graph img {
  width: 80%;
}
#contentTabs #bc #inputdata .input:hover {
  cursor: text;
}
#contentTabs #bc #inputdata .panel-body {
  padding-top: 0;
  padding-bottom: 0;
}
#contentTabs #bc h2 {
  background-color: #aaa;
  color: #444;
  padding: 5px;
}
#contentTabs #bc .bibliography {
  clear: both;
  float: left;
  margin: 50px;
}
#contentTabs #bc .bib-author {
  float: left;
}
#contentTabs #bc .bib-year {
  float: left;
}
#contentTabs #bc .bib-title {
  float: left;
  font-style: italic;
}
#contentTabs #bc .bib-journal {
  float: left;
}
#contentTabs #bc .bib-ref {
  float: left;
}
#contentTabs #bc .bib-pages {
  float: left;
}
#contentTabs #bc .bib-doi {
  float: left;
}
#contentTabs #meanstorisk .graph_panel {
  padding-left: 0;
}
#contentTabs #meanstorisk .graph_panel img {
  min-width: 103%;
  max-width: 110%;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  -moz-transition: -moz-transform 0.5s ease-in;
  -o-transition: -o-transform 0.5s ease-in;
  -ms-transition: -ms-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
}
#contentTabs #meanstorisk .graph_panel img:hover,
#contentTabs #meanstorisk .graph_panel img:active {
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -o-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}
#contentTabs #meanstorisk .table_panel .row {
  border: 0.125em solid #ddd;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
#contentTabs #meanstorisk .table_panel .row .header {
  padding: 0.5em;
}
#contentTabs #meanstorisk #download_button {
  margin: 10px;
}
#contentTabs #meanstorisk .top_section {
  height: 400px;
}
#contentTabs #meanstorisk .bottom_section {
  clear: left;
  height: 400px;
}
#contentTabs #meanstorisk .input_panel {
  border: 1px #bbb solid;
}
#contentTabs #meanstorisk div.input_accordion {
  background: #fff;
}
#contentTabs #meanstorisk h3.input_accordion {
  background-color: #ddd;
}
#contentTabs #meanstorisk .output_graph {
  min-width: 100%;
  max-width: 110%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#contentTabs #meanstorisk .key_output_panel {
  float: left;
  background-color: #faf;
  height: 99%;
}
#contentTabs #meanstorisk .tabbed_output_panel {
  height: 99%;
}
#contentTabs #meanstorisk .tabbed_output_panel #tabs {
  font-size: inherit;
}
#contentTabs #meanstorisk .highlight {
  background-color: #ff0;
}
#contentTabs #meanstorisk .col1 {
  padding: 6px;
  text-align: center;
}
#contentTabs #meanstorisk .maincard {
  height: 750px;
  border: 2px #000 solid;
}
#contentTabs #meanstorisk .highlight {
  background-color: #ff0;
}
#contentTabs #meanstorisk table.table_data {
  width: 99%;
  background-color: #fff;
  border: 1px #bbb solid;
}
#contentTabs #meanstorisk table.output_data {
  background-color: #fff;
  border-collapse: collapse;
  border: 2px #000 solid;
}
#contentTabs #meanstorisk th.table_data {
  padding: 2px;
}
#contentTabs #meanstorisk th.header {
  border-bottom: 1px #bbb solid;
}
#contentTabs #meanstorisk tr.table_data_header {
  border-bottom: 1px #000 solid;
  background-color: #a0a0a0;
}
#contentTabs #meanstorisk tr.line-above {
  border-top: 1px #bbb solid;
}
#contentTabs #meanstorisk .main-title {
  text-align: center;
}
#contentTabs #meanstorisk .PPV_stripe {
  border-bottom: 1px #000 solid;
  background-color: #b080ff;
}
#contentTabs #meanstorisk .cNPV_stripe {
  border-bottom: 1px #000 solid;
  background-color: #8080ff;
}
#contentTabs #meanstorisk .PPVcNPV_stripe {
  border-bottom: 1px #000 solid;
  background-color: #ffaa80;
}
#contentTabs #meanstorisk .ProgramBased_stripe {
  border-bottom: 1px #000 solid;
  background-color: #ffb0d0;
}
#contentTabs #meanstorisk .PPVBased_stripe {
  border-bottom: 1px #000 solid;
  background-color: #a0a0a0;
}
#contentTabs #meanstorisk .SensitivityBased_stripe {
  border-bottom: 1px #000 solid;
  background-color: #808080;
}
#contentTabs #meanstorisk .DominatedByRareDisease_stripe {
  border-bottom: 1px #000 solid;
  background-color: #f0f0f0;
}
#contentTabs #help h4 a {
  color: #fff;
  font-size: smaller;
}
#contentTabs #help section h5 {
  font-weight: bold;
}
#contentTabs ul li li {
  text-indent: 1.5em;
}
#contentTabs #meanRiskStratification .marker-title {
  background-color: #f5f5f5;
}
#contentTabs #meanRiskStratification #results table th {
  background-color: #f5f5f5;
}
#contentTabs #meanRiskStratification .red {
  background-color: #a90101;
}
#contentTabs #meanRiskStratification .panel-title,
#contentTabs #meanRiskStratification .panel-title a {
  font-size: small;
}
#contentTabs #meanRiskStratification .panel-toggle a,
#contentTabs #meanRiskStratification .panel-title a {
  color: #000;
  font-weight: bold;
}
#contentTabs #meanRiskStratification label {
  font-weight: bold;
}
#contentTabs #meanRiskStratification .well,
#contentTabs #meanRiskStratification #results {
  min-height: 645px;
}
#contentTabs #meanRiskStratification .termToDefine,
#contentTabs #meanRiskStratification th {
  font-weight: bold;
}
#contentTabs #meanRiskStratification .termToDefine.glyphicon {
  text-decoration: none;
}
#contentTabs #meanRiskStratification .loader {
  background-image: url("/common/images/loading.gif") no-repeat;
  margin: 0 auto;
  height: 300px;
}
#contentTabs #meanRiskStratification .input:invalid {
  background-color: #ff0;
}
#contentTabs #riskStratAdvanced input,
#contentTabs #riskStratAdvanced select {
  padding: 1px;
}
#contentTabs #riskStratAdvanced .label {
  float: right;
}
#contentTabs #riskStratAdvanced .explanation {
  float: left;
  padding-left: 15px;
}
#contentTabs #riskStratAdvanced .reference_row {
  background-color: #ff0;
}
#contentTabs #riskStratAdvanced td {
  text-align: left;
}
#contentTabs #riskStratAdvanced .prevalence_label {
  font-weight: bold;
  background-color: #aaa;
  color: #444;
  padding: 2px 25px 2px 25px;
}
#contentTabs #riskStratAdvanced .bibliography {
  clear: both;
  float: left;
  margin: 50px;
}
#contentTabs #riskStratAdvanced .bib-author {
  float: left;
}
#contentTabs #riskStratAdvanced .bib-year {
  float: left;
}
#contentTabs #riskStratAdvanced .bib-title {
  float: left;
  font-style: italic;
}
#contentTabs #riskStratAdvanced .bib-journal {
  float: left;
}
#contentTabs #riskStratAdvanced .bib-ref {
  float: left;
}
#contentTabs #riskStratAdvanced .bib-pages {
  float: left;
}
#contentTabs #riskStratAdvanced .bib-doi {
  float: left;
}
#contentTabs #riskStratAdvanced .status-info {
  color: #000;
}
#contentTabs #riskStratAdvanced .status-error {
  color: #a90101;
}
#contentTabs #riskStratAdvanced a#add-test-data {
  text-decoration: underline;
  float: right;
}
#contentTabs #riskStratAdvanced a#add-test-data :hover {
  font-weight: bold;
}
#contentTabs #riskStratAdvanced .table-title {
  word-wrap: normal;
  font-weight: bold;
  text-align: center;
  background-color: #f8fafa;
}
#contentTabs #riskStratAdvanced #status-bar {
  background: #ccc;
  display: block;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: 18px "arial", "sans-serif";
  left: 0;
  margin: 10px;
  outline: none;
  padding: 10px;
  top: 2px;
  visibility: hidden;
}
#contentTabs #riskStratAdvanced #tabs {
  font-size: inherit;
}
#contentTabs #riskStratAdvanced #tabs .header {
  background-color: #aaa;
  color: #444;
}
#contentTabs #riskStratAdvanced #tabs .vertical-text {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  white-space: nowrap;
}
#portal-footer {
  line-height: 1.2em;
  text-align: center;
  background-color: #fff;
  color: #333;
  font-size: small;
}
#portal-footer a {
  text-decoration: none;
  color: #333;
  border: none;
}
#portal-footer a :visited {
  color: #333;
}
#portal-footer a :hover {
  text-decoration: underline;
}
