body {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", "Arial", "sans-seriff";
}
#main {
  width: 1100px;
  margin: 0 auto;
  font-size: small;
}
.title {
  background-color: #cd5c5c;
  color: #f5f5f5;
}
.tab-pane,
.tab-content {
  padding: 2em;
}
#contentTabs {
  margin: 1.5em auto;
}
#contentTabs .tab-content {
  border-left: solid 1px #a90002;
  border-bottom: solid 1px #a90002;
  border-right: solid 1px #a90002;
}
ul.nav.nav-tabs {
  border-bottom: solid 1px #a90002;
}
ul.nav.nav-tabs li a {
  color: #000;
}
ul.nav.nav-tabs .active a {
  font-weight: bold;
  border-radius: inherit;
  border-top: 1px solid #a90002;
  border-right: 1px solid #a90002;
  border-left: 1px solid #a90002;
}
ul.nav.nav-tabs :after {
  border: solid transparent;
  margin-left: -10px;
  top: 100%;
  left: 50%;
}
/* sample size styles */
#sampleSize .example-image {
  float: left;
}
#sampleSize .explanation {
  float: left;
  padding-left: 15px;
  width: 600px;
}
#sampleSize .reference_row {
  background-color: #ff0;
}
#sampleSize #maindiv {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
#sampleSize .fontnormal {
  font-weight: normal;
}
#sampleSize .dom_valref {
  display: none;
}
#sampleSize td.label {
  text-align: right;
}
#sampleSize .top-header {
  text-align: center;
  background-color: #444;
  color: #fff;
}
#sampleSize .header {
  background-color: #aaa;
  color: #000;
  font-family: sans-serif;
  font-size: 80%;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  border-collapse: collapse;
  border: 1px solid #000;
  text-align: center;
}
#sampleSize #output {
  width: 500px;
}
#sampleSize #inputdata {
  width: 500px;
}
#sampleSize .prevalence_label {
  font-weight: bold;
  background-color: #aaa;
  color: #444;
  padding: 2px 25px 2px 25px;
}
#sampleSize .bibliography {
  width: 950px;
  clear: both;
  float: left;
  margin: 50px;
}
#sampleSize .bib-author {
  float: left;
}
#sampleSize .bib-year {
  float: left;
}
#sampleSize .bib-title {
  float: left;
  font-style: italic;
}
#sampleSize .bib-journal {
  float: left;
}
#sampleSize .bib-ref {
  float: left;
}
#sampleSize .bib-pages {
  float: left;
}
#sampleSize .bib-doi {
  float: left;
}
#sampleSize .bibliography_entry {
  width: 300px;
}
#sampleSize .bibliography_link {
  width: 50px;
}
#sampleSize table.table_data {
  background-color: #fff;
  border: 1px solid #bbb;
  border-collapse: collapse;
  margin-left: 20px;
  margin-right: 20px;
  width: 90%;
}
#sampleSize table.output_data {
  background-color: #fff;
  border: 2px solid #000;
  border-collapse: collapse;
  margin-left: 20px;
  margin-right: 20px;
}
#sampleSize table.table_data td {
  font-family: sans-serif;
  text-align: center;
  font-size: 80%;
  border-bottom: 1px solid #bbb;
  border-left: 1px solid #bbb;
  border-collapse: collapse;
}
#sampleSize .example {
  text-align: right;
}
#sampleSize th.col1 {
  text-align: right;
}
#sampleSize tr.table_data_header {
  background-color: #a0a0a0;
  border-bottom: 1px solid #000;
}
#sampleSize .ui-tabs .ui-tabs-nav li {
  height: 50px;
  font-size: 12px;
  text-align: center;
}
